<!DOCTYPE html>
{% load staticfiles %}
<html>

	<head>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/addwrite.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
		<meta charset="UTF-8">
		<title>浮生物语续写页面</title>
        <style type="text/css">
        /* cytoscape graph */
        #cy {
            height: 500px;
            width: 800px;
            background-color: #f9f9f9;
            text-align:left
        }
    </style>
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/cytoscape/2.3.16/cytoscape.min.js"></script>
    <script>
        $(function(){
            cytoscape({
              container: document.getElementById('cy'),
              style: [
                { selector: 'node[label = "Person"]',
                  css: {'background-color': '#6FB1FC', 'content': 'data(name)'}
                },
                { selector: 'edge',
                  css: {'content': 'data(relationship)','target-arrow-shape': 'triangle'}
                }
              ],
              elements: {
                nodes: [
                    {data: {id: '1', name: '女人', label: 'Person'}},
                    {data: {id: '2', name: '阿辽', label: 'Person'}},
                    {data: {id: '3', name: '爸爸', label: 'Person'}},
                    {data: {id: '4', name: '梁宇栋', label: 'Person'}},
                    {data: {id: '5', name: '师父', label: 'Person'}},
                    {data: {id: '6', name: '末白', label: 'Person'}},
                    {data: {id: '7', name: '师兄', label: 'Person'}},
                    {data: {id: '8', name: '白猫', label: 'Person'}},
                    {data: {id: '9', name: '胖子', label: 'Person'}},
                    {data: {id: '10', name: '瘦子', label: 'Person'}},
                    {data: {id: '11', name: '仓瞳凯', label: 'Person'}},
                    {data: {id: '12', name: '玄', label: 'Person'}},
                    {data: {id: '13', name: '图图', label: 'Person'}},
                    {data: {id: '14', name: '黑猫', label: 'Person'}},
                    {data: {id: '15', name: '百里未步', label: 'Person'}},
                    {data: {id: '16', name: '未晴', label: 'Person'}},
                    {data: {id: '17', name: '岑恺文', label: 'Person'}},
                    {data: {id: '18', name: '唐小花', label: 'Person'}},
                    {data: {id: '19', name: '小透', label: 'Person'}},
                    {data: {id: '20', name: '不语', label: 'Person'}},
                    {data: {id: '21', name: '雪豹', label: 'Person'}},
                ],
                edges: [
                    {data: {source: '1', target: '6'}},
                    {data: {source: '1', target: '18'}},
                    {data: {source: '1', target: '4'}},
                    {data: {source: '1', target: '2'}},
                    {data: {source: '1', target: '15'}},
                    {data: {source: '2', target: '6'}},
                    {data: {source: '2', target: '5'}},
                    {data: {source: '2', target: '4'}},
                    {data: {source: '3', target: '15'}},
                    {data: {source: '4', target: '5'}},
                    {data: {source: '4', target: '6'}},
                    {data: {source: '5', target: '7'}},
                    {data: {source: '5', target: '20'}},
                    {data: {source: '7', target: '21'}},
                    {data: {source: '8', target: '14'}},
                    {data: {source: '9', target: '10'}},
                    {data: {source: '9', target: '14'}},
                    {data: {source: '11', target: '12'}},
                    {data: {source: '11', target: '13'}},
                    {data: {source: '12', target: '13'}},
                    {data: {source: '12', target: '14'}},
                    {data: {source: '13', target: '14'}},
                    {data: {source: '15', target: '17'}},
                    {data: {source: '15', target: '16'}},
                    {data: {source: '16', target: '1'}},
                    {data: {source: '18', target: '19'}},
                    ],
              },
              layout: { name: 'grid'}
            });
        });
    </script>
		<script language="JavaScript">
			function sumb(){
				var text=document.getElementById("add-text").value;
				if(text==""||text==null){
					alert("请输入评论内容！");
					return false;
				}
				else{
				alert("提交成功！");
				return true;
				}
			}
		</script>
	</head>
	<body>
		<div class="row">
			<div class="col-md-4">
				<h2>&nbsp&nbsp飞阅续书小说网</h2>
			</div>
			<div class="col-md-5">
				<div class="sousuolan">
					<form id="form1" action="sousuo.jsp" method="post" name="sousuobiaodan" autocomplete="on">
						<input type="radio" name="zhonglei" checked="checked">书名
						<input type="radio" name="zhonglei">作者
						<input class="sousuo" type="search" name="sousuo" placeholder="请输入要搜索的内容" style="width: 70%;" />
						<button class="button" type="submit" value="search">搜索</button>
					</form>
				</div>
			</div>
			<div class="col-md-3">
				<ul>
					<li>
						<a href="about.jsp">关于</a>
					</li>
					<li>
						<a>欢迎，阿凡达</a>
					</li>
					<li>
						<a href=".html">收藏夹</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="write">
			<div class="wri-add">
				<div class="per-view">
					<div class="wri-tit">
						<h2>人物关系图谱</h2>
					</div>
					<div align="center">
					       <div id = "cy"> </div>
					</div>
				</div>
                <div class="clearfix"></div>
				<div class="wri-text">
					<form action="/write_action1/" method="post" autocomplete="on" name="write-sumbit">
					    <ul>
                            <li class="biaoti">小标题：<input type="text" name="biaoti" style="width: 40%"></li>
                            <li class="neirong"><p>内&nbsp&nbsp&nbsp&nbsp容：</p><textarea class="add-text" id="add-text" name="text"></textarea></li>
                        </ul>
                        <button type="submit" onclick="sumb()" class="add-sumb">确认提交</button>
                            {% csrf_token %}
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</body>

</html>